// || COLOR VARIABLES
$taaze-main-color: #FF057D;
$taaze-white-color: white;
$taaze-text-grey-color: #535353;
$taaze-black-color: #000000;
$taaze-grey1-color: #535353;
$taaze-grey2-color: #757575;
$taaze-grey3-color: #BDBDBD;
$taaze-grey4-color: #E7E7E7;
$taaze-grey5-color: #F2F2F2;
