@import 'variables';
@import 'colors';

@mixin hover-shrink {
    transition: transform 0.2s;

    &:hover {
        transform: scale(0.95);
    }
}

@mixin vertical-text {
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

@mixin tz-container-y-padding {
    padding-top: $padding-32;
    padding-bottom: $padding-32;
}

@mixin tz-card-base($border-radius: 12px, $padding-x: 12px, $padding-y: 12px) {
    @include hover-shrink();
    border-radius: $border-radius;
    background-color: $taaze-white-color;
    padding-left: $padding-x;
    padding-right: $padding-x;
    padding-top: $padding-y;
    padding-bottom: $padding-y;
    margin: auto;
}