@import 'variables';
@import 'colors';
@import 'mixins';
@import 'fonts';
@import 'breakpoints';

$taaze-fs-nav: 14px;

.main-color {
  color: $taaze-main-color;
}

.tz-container-padding {
  padding-top: 32px;
  padding-bottom: 32px;

  @include xs {
    padding-left: 24px;
    padding-right: 24px;
  }

  @include sm {
    padding-left: 48px;
    padding-right: 48px;
  }

  @include md {
    padding-left: 0px;
    padding-right: 0px;
  }
}

/***************************************
  0_navbar STYLE
**************************************/
.navbar-nav {
  column-gap: 48px;
}

.navbar-item-container {
  &*> {
    font-size: 14px;
  }
}

.navbar-item-offcanvas-container {
  color: $taaze-grey1-color;
  font-family: $taaze-ff-nav;
  font-size: 14px;
}

.nav-sec-button {
  color: $taaze-grey1-color;
  font-family: $taaze-ff-nav;

  &:hover {
    text-decoration: underline;
  }
}

.nav-sec-button-offcanvas {
  padding-left: 0px;
  padding-bottom: 20px;
}

.offcanvas-line {
  background-color: black;
  width: 100%;
  height: 0.5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/***************************************
  1_main_banner_division STYLE
***************************************/
.tz-main-banner-image-wrapper {
  &>img {
    width: 100%;
    height: auto;
  }
}

/***************************************
  2_four_book_division STYLE
***************************************/
.tz-four-book-card {
  @include hover-shrink();
  border-radius: 12px;
  background-color: $taaze-white-color;
  margin: auto;
  height: 100%;

  @include xs {
    max-width: 179px;
  }

  @include xsm {
    max-width: 324px;
  }

  @include lg {
    max-width: 282px;
  }
}

.tz-four-book-card-text {
  &>* {
    font-family: $default-font-family;
  }

  &>.tz-four-book-card-title {
    font-weight: $font-weight-bold;
  }

  &>.tz-four-book-card-author {
    color: $taaze-grey2-color;
  }

  @include xs {
    margin-top: 12px;

    &>* {
      margin-bottom: 8px;
    }

    &>.tz-four-book-card-title {
      font-size: 16px;
    }

    &>.tz-four-book-card-author {
      font-size: 14px;
    }
  }

  @include xsm {
    &>* {
      margin-bottom: 12px;
    }

    &>.tz-four-book-card-title {
      font-size: 26px;
    }

    &>.tz-four-book-card-author {
      font-size: 18px;
    }
  }

  @include md {
    margin-top: 11px;
  }
}

.tz-four-book-card-price {
  &>* {
    font-family: $secondary-font-family;
  }

  &>.tz-four-book-card-price-enabled {
    color: $taaze-main-color;
    font-weight: $font-weight-bold;
  }

  &>.tz-four-book-card-price-disabled {
    text-decoration: line-through;
    color: $taaze-grey3-color;
  }

  @include xs {
    &>* {
      font-size: 16px;
    }
  }

  @include xsm {
    &>* {
      font-size: 24px;
    }
  }
}

.tz-four-book-image-wrapper {
  position: relative;
  padding: 12px;

  &>* {
    border-radius: 6px;
  }

  &>div {
    position: absolute;
    z-index: 1;
    background-color: $taaze-main-color;
    color: $taaze-white-color;

    @include xs {
      width: 37px;
      height: 24px;
    }

    @include sm {
      height: 34px;
      width: 57px;
    }

    @include lg {
      height: 30px;
      width: 53px;
    }
  }
}

/***************************************
  4_free_description_division STYLE
***************************************/
.tz-free-description-text {
  &>* {
    font-family: $default-font-family;
    color: $taaze-grey1-color;
  }

  &>.tz-free-description-title {
    font-weight: $font-weight-bold;
    margin-bottom: 36px;
  }

  @include xs {
    margin-left: 0px;

    &>.tz-free-description-title {
      font-size: 30px;
    }

    &>.tz-free-description-description {
      font-size: 18px;
    }
  }

  @include xsm {
    &>.tz-free-description-title {
      font-size: 26px;
    }

    &>.tz-free-description-description {
      font-size: 16px;
    }
  }

  @include md {
    margin-left: 30px;
  }
}

.tz-free-description-image-wrapper {
  height: auto;

  &>img {
    width: 100%;
  }

  @include hover-shrink();

  @include xs {
    min-width: 100%;
    max-width: 100%;
  }

  @include md {
    max-width: 440px;
    min-width: 440px;
  }
}

/***************************************
  6_title_briefing_between_division STYLE
  7_title_briefing_center_division STYLE
***************************************/
.tz-title-briefing-title {
  font-family: $default-font-family;
  color: $taaze-text-grey-color;
  font-weight: $font-weight-bold;
  margin: auto;

  @include xs {
    font-size: 26px;
  }

  @include xsm {
    font-size: 32px;
  }
}

.tz-title-briefing-description {
  font-family: $default-font-family;
  color: $taaze-text-grey-color;
  margin: auto;

  @include xs {
    font-size: 18px;
  }

  @include xsm {
    font-size: 20px;
  }
}

.tz-title-briefing-spacing {
  @include xs {
    margin-bottom: 16px;
  }

  @include xsm {
    margin-bottom: 24px;
  }
}

/***************************************
  8_four_pic_section STYLE
***************************************/
.tz-four-pic-section-image-wrapper {
  @include hover-shrink();
  margin: auto;

  &>img {
    width: 100%;
    height: auto;
  }

  @include xs {
    max-width: 366px;
  }

  @include xsm {
    max-width: 672px;
  }
}

/***************************************
  9_two_book_cards_division STYLE
***************************************/
.tz-two-book-card {
  height: 100%;

  &>.tz-two-book-card-image-wrapper {
    position: relative;
    max-width: 260px;
    margin-top: auto;
    margin-bottom: auto;

    &>* {
      border-radius: 6px;
    }

    &>img {
      width: 100%;
      height: auto;
    }
  }

  &>.tz-two-book-card-content-wrapper {
    * {
      font-family: $default-font-family;
      color: $taaze-grey1-color;
    }

    padding-left: 12px;
    width: 100%;

    &>* {
      margin-bottom: 8px;
    }

    &>.tz-two-book-card-title {
      font-size: 32px;
      font-weight: $font-weight-bold;
      text-align: center;
    }

    &>.tz-two-book-card-subtitle {
      color: $taaze-grey2-color;
      font-size: 18px;
      text-align: center;
    }

    &>.tz-two-book-card-price-wrapper {
      font-size: 24px;
      margin: 0;

      &>.tz-two-book-card-price-enabled {
        color: $taaze-main-color;
        font-weight: $font-weight-bold;
        margin: 0;
      }

      &>.tz-two-book-card-price-disabled {
        text-decoration: line-through;
        color: $taaze-grey3-color;
        margin: 0;
      }
    }
  }

  @include xs {
    @include tz-card-base($padding-y: 16px);

    &>.tz-two-book-card-image-wrapper {
      max-width: 120px;

      &>div {
        width: 37px;
        height: 24px;
      }
    }

    &>.tz-two-book-card-content-wrapper {
      &>.tz-two-book-card-title {
        font-size: 16px;
      }

      &>.tz-two-book-card-subtitle {
        font-size: 14px;
      }

      &>.tz-two-book-card-price-wrapper {
        &>p {
          font-size: 16px;
        }
      }
    }
  }

  @include xsm {
    @include tz-card-base($padding-x: 16px, $padding-y: 24px);

    &>.tz-two-book-card-image-wrapper {
      max-width: 180px;

      &>div {
        width: 57px;
        height: 34px;
      }
    }

    &>.tz-two-book-card-content-wrapper {
      &>* {
        margin-bottom: 12px;
      }

      &>.tz-two-book-card-title {
        font-size: 26px;
      }

      &>.tz-two-book-card-subtitle {
        font-size: 18px;
      }

      &>.tz-two-book-card-price-wrapper {
        &>p {
          font-size: 24px;
        }
      }
    }
  }

  @include md {
    @include tz-card-base($padding-x: 16px, $padding-y: 16px);
  }
}


/***************************************
  10_text_description_division STYLE
***************************************/
.tz-text-description-title {
  font-family: $default-font-family;
  font-weight: $font-weight-bold;
  color: $taaze-grey1-color;
  font-size: 26px;

  @include xs {
    margin-bottom: 16px;
  }

  @include md {
    margin-bottom: 30px;
  }
}

.tz-text-description-description {
  font-family: $default-font-family;
  color: $taaze-grey1-color;
  font-size: 18px;
}

/***************************************
  11_four_pic_grid_division STYLE
***************************************/
.tz-four-pic-grid-image-wrapper {
  @include hover-shrink();
  margin: auto;

  &>img {
    width: 100%;
    height: auto;
  }

  @include xs {
    max-width: 366px;
  }

  @include xsm {
    max-width: 672px;
  }
}

/***************************************
  11_banner_description_division STYLE
***************************************/
.tz-banner-description-text {
  &>* {
    font-family: $default-font-family;
    color: $taaze-grey1-color;
  }

  &>.tz-banner-description-title {
    font-weight: $font-weight-bold;
  }

  &>.tz-banner-description-description {
    font-size: 18px;
  }

  @include xs {
    margin-left: 0px;

    &>.tz-banner-description-title {
      font-size: 26px;
      font-weight: $font-weight-bold;
      margin-bottom: 30px;
    }

    &>.tz-banner-description-description {
      font-size: 18px;
    }
  }

  @include xsm {
    margin-left: 30px;
  }
}

.tz-banner-description-image-wrapper {
  @include hover-shrink();

  &>img {
    width: 100%;
    height: auto;
  }

  @include xs {
    max-width: 100%;
    margin-bottom: 30px;
  }

  @include xsm {
    max-width: 310px;
    margin-bottom: 0;
  }

  @include md {
    max-width: 440px;
  }
}

/***************************************
  13_big_banner_division STYLE
***************************************/
.tz-big-banner-image-wrapper {
  @include hover-shrink();

  &>img {
    width: 100%;
    height: auto;
  }
}


/***************************************
  14_book_description_division STYLE
***************************************/
.tz-book-description-wrapper {
  * {
    font-family: $default-font-family;
    color: $taaze-grey1-color;
  }

  &>.tz-book-description-main-title {
    font-weight: $font-weight-bold;
    font-size: 32px;
  }

  *>.tz-book-description-second-title {
    font-weight: $font-weight-bold;
    font-size: 26px;
    margin-bottom: 30px;
  }

  *>.tz-book-description-description {
    font-size: 18px;
    margin-top: 18px;
  }

  &>.tz-book-description-image-wrapper {
    flex-shrink: 0;

    &>img {
      width: 100%;
      height: auto;
    }
  }

  @include xs {
    &>.tz-book-description-image-wrapper {
      margin-left: 0px;
      margin-right: 0px;
      margin-bottom: 16px;
      width: 366px;
    }

    &>.tz-book-description-main-title {
      margin-bottom: 16px;
    }

    *>.tz-book-description-second-title {
      margin-bottom: 12px;
    }

    *>.tz-book-description-description {
      margin-bottom: 12px;
    }
  }

  @include xsm {
    &>.tz-book-description-image-wrapper {
      margin-left: 30px;
      margin-right: 30px;
    }
  }

  @include sm {
    &>.tz-book-description-image-wrapper {
      margin-left: 48px;
      margin-right: 48px;
    }

    *>.tz-book-description-second-title {
      margin-top: 0px;
    }
  }

  @include md {
    &>.tz-book-description-main-title {
      @include vertical-text();
      margin: 0;
    }

    &>.tz-book-description-image-wrapper {
      width: 310px;
    }

    &>.tz-book-description-main-title {
      margin-top: 0px;
    }
  }
}

/***************************************
  15_two_product_cards_division STYLE
***************************************/
.tz-two-product-card {
  &>.tz-two-product-card-image-wrapper {
    position: relative;
    max-width: 260px;
    margin-top: auto;
    margin-bottom: auto;

    &>* {
      border-radius: 6px;
    }

    &>div {
      position: absolute;
      z-index: 1;
      width: 50px;
      height: 30px;
      color: $taaze-white-color;
      background-color: $taaze-main-color;
    }

    &>img {
      width: 100%;
      height: auto;
    }
  }

  &>.tz-two-product-card-content-wrapper {
    * {
      font-family: $default-font-family;
      color: $taaze-grey1-color;
    }

    padding-left: 12px;
    width: 100%;

    &>* {
      margin-bottom: 8px;
    }

    &>.tz-two-product-card-title {
      font-size: 32px;
      font-weight: $font-weight-bold;
      text-align: center;
    }

    &>.tz-two-product-card-subtitle {
      font-weight: $font-weight-bold;
      background-color: $taaze-grey3-color;
      width: 100%;
      padding: 5px;
      border-radius: 6px;
      font-size: 18px;
      text-align: center;
    }

    &>.tz-two-product-card-price-wrapper {
      font-size: 24px;
      margin: 0;

      &>.tz-two-product-card-price-enabled {
        color: $taaze-main-color;
        font-weight: $font-weight-bold;
        margin: 0;
      }

      &>.tz-two-product-card-price-disabled {
        text-decoration: line-through;
        color: $taaze-grey3-color;
        margin: 0;
      }
    }
  }

  @include xs {
    @include tz-card-base($padding-y: 16px);

    &>.tz-two-product-card-image-wrapper {
      max-width: 120px;

      &>div {
        width: 37px;
        height: 24px;
      }
    }

    &>.tz-two-product-card-content-wrapper {
      &>.tz-two-product-card-title {
        font-size: 16px;
      }

      &>.tz-two-product-card-subtitle {
        font-size: 14px;
      }

      &>.tz-two-product-card-price-wrapper {
        &>p {
          font-size: 16px;
        }
      }
    }
  }

  @include xsm {
    @include tz-card-base($padding-x: 16px, $padding-y: 24px);

    &>.tz-two-product-card-image-wrapper {
      max-width: 180px;

      &>div {
        width: 57px;
        height: 34px;
      }
    }

    &>.tz-two-product-card-content-wrapper {
      &>* {
        margin-bottom: 12px;
      }

      &>.tz-two-product-card-title {
        font-size: 26px;
      }

      &>.tz-two-product-card-subtitle {
        font-size: 18px;
      }

      &>.tz-two-product-card-price-wrapper {
        &>p {
          font-size: 24px;
        }
      }
    }
  }

  @include md {
    @include tz-card-base($padding-x: 16px, $padding-y: 16px);
  }
}

/***************************************
  16_three_picture_division STYLE
***************************************/
.tz-three-picture-image-wrapper {
  @include hover-shrink();

  &>img {
    height: 100%;
    width: auto;
  }

  @include xs {
    max-width: 366px;
  }

  @include xsm {
    max-width: 672px;
  }

  @include md {
    max-width: 588px;
  }
}

/***************************************
  16_footer STYLE
***************************************/
.tz-footer-logo-container {
  @include xs {
    margin-bottom: 22px;    
  }

  @include xsm {
    margin-bottom: 26px;    
  }
}

.tz-footer-links-container {
  @include xs {
    margin-bottom: 22px;    
  }

  @include xsm {
    margin-bottom: 26px;    
  }
}

.tz-footer-link {
  @include hover-change-color($taaze-main-color);

  color: $taaze-grey1-color;
  text-decoration: none;

  @include xs {
    font-size: 12px;
  }

  @include xsm {
    font-size: 14px;
  }
}