@import 'variables';
@import 'colors';
@import 'mixins';
@import 'fonts';
@import 'breakpoints';

$taaze-fs-nav: 14px;

.main-color {
  color: $taaze-main-color;
}

.tz-container-padding {
  padding-top: 32px;
  padding-bottom: 32px;

  @include xs {
    padding-left: 24px;
    padding-right: 24px;
  }

  @include sm {
    padding-left: 48px;
    padding-right: 48px;
  }

  @include md {
    padding-left: 0px;
    padding-right: 0px;
  }
}

/***************************************
  1_navbar STYLE
**************************************/
.navbar-nav {
  column-gap: 48px;
}

.navbar-item-container {
  &*> {
    font-size: 14px;
  }
}

.navbar-item-offcanvas-container {
  color: $taaze-grey1-color;
  font-family: $taaze-ff-nav;
  font-size: 14px;
}

.nav-sec-button {
  color: $taaze-grey1-color;
  font-family: $taaze-ff-nav;

  &:hover {
    text-decoration: underline;
  }
}

.nav-sec-button-offcanvas {
  padding-left: 0px;
  padding-bottom: 20px;
}

.offcanvas-line {
  background-color: black;
  width: 100%;
  height: 0.5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/***************************************
  2_four_book_division STYLE
***************************************/
.tz-four-book-card {
  @include hover-shrink();
  border-radius: 12px;
  background-color: $taaze-white-color;
  margin: auto;

  @include xs {
    max-width: 179px;
    height: 100%;
  }

  @include xsm {
    max-width: 324px;
    height: 100%;
  }

  @include lg {
    max-width: 282px;
    height: 100%;
  }
}

.tz-four-book-card-text {
  &>* {
    font-family: $default-font-family;
  }

  &>.tz-four-book-card-title {
    font-weight: $font-weight-bold;
  }

  &>.tz-four-book-card-author {
    color: $taaze-grey2-color;
  }

  @include xs {
    margin-top: 12px;

    &>* {
      margin-bottom: 8px;
    }

    &>.tz-four-book-card-title {
      font-size: 18px;
    }

    &>.tz-four-book-card-author {
      font-size: 11px;
    }
  }

  @include xsm {
    &>* {
      margin-bottom: 12px;
    }

    &>.tz-four-book-card-title {
      font-size: 22px;
    }

    &>.tz-four-book-card-author {
      font-size: 16px;
    }
  }

  @include md {
    margin-top: 11px;

    &>.tz-four-book-card-title {
      font-size: 26px;
    }

    &>.tz-four-book-card-author {
      font-size: 18px;
    }
  }
}

.tz-four-book-card-price {
  &>* {
    font-family: $secondary-font-family;
  }

  &>.tz-four-book-card-price-enabled {
    color: $taaze-main-color;
    font-weight: $font-weight-bold;
  }

  &>.tz-four-book-card-price-disabled {
    text-decoration: line-through;
    color: $taaze-grey3-color;
  }

  @include xs {
    &>* {
      font-size: 16px;
    }
  }

  @include xsm {
    &>* {
      font-size: 24px;
    }
  }
}

.tz-four-book-image-wrapper {
  position: relative;
  padding: 12px;

  &>* {
    border-radius: 6px;
  }

  &>div {
    position: absolute;
    z-index: 1;
    background-color: $taaze-main-color;
    color: $taaze-white-color;

    @include xs {
      width: 37px;
      height: 24px;
    }

    @include sm {
      height: 34px;
      width: 57px;
    }

    @include lg {
      height: 30px;
      width: 53px;
    }
  }
}

/***************************************
  4_free_description_division STYLE
***************************************/
.tz-free-description-text {
  &>* {
    font-family: $default-font-family;
    color: $taaze-grey1-color;
  }

  &>.tz-free-description-title {
    font-size: 26px;
    font-weight: $font-weight-bold;
    margin-bottom: 30px;
  }

  &>.tz-free-description-description {
    font-size: 18px;
  }

  @include xs {
    margin-left: 0px;
  }

  @include md {
    margin-left: 30px;
  }
}

.tz-free-description-image-wrapper {
  height: auto;

  &>img {
    width: 100%;
  }

  @include hover-shrink();

  @include xs {
    min-width: 100%;
    max-width: 100%;
  }

  @include md {
    max-width: 440px;
    min-width: 440px;
  }
}

/***************************************
  6_title_briefing_between_division STYLE
  7_title_briefing_center_division STYLE
***************************************/
.tz-title-briefing-title {
  font-family: $default-font-family;
  color: $taaze-text-grey-color;
  font-weight: $font-weight-bold;
  margin: auto;

  @include xs {
    font-size: 26px;
  }

  @include xsm {
    font-size: 32px;
  }
}

.tz-title-briefing-description {
  font-family: $default-font-family;
  color: $taaze-text-grey-color;
  margin: auto;

  @include xs {
    font-size: 18px;
  }

  @include xsm {
    font-size: 20px;
  }
}

.tz-title-briefing-title-spacing {
  margin-bottom: 10px;
}

.tz-title-briefing-description-spacing {
  margin-bottom: 16px;
}

/***************************************
  10_text_description_division STYLE
***************************************/
.tz-text-description-title {
  font-family: $default-font-family;
  font-weight: $font-weight-bold;
  color: $taaze-grey1-color;
  font-size: 26px;
  margin-bottom: 30px;
}

.tz-text-description-description {
  font-family: $default-font-family;
  color: $taaze-grey1-color;
  font-size: 18px;
}

/***************************************
  11_four_pic_grid_division STYLE
***************************************/
.image-hover-container {
  @include hover-shrink();
}

/***************************************
  14_book_description_division STYLE
***************************************/
.tz-book-description-left-title-spacing {
  @include sm {
    @include vertical-text();
  }
}

.tz-book-description-image-spacing {
  @include xs {
    margin-left: 0px;
    margin-right: 0px;
  }

  @include sm {
    margin-left: 25px;
    margin-right: 30px;
  }
}

.tz-book-description-image-dimensions {
  max-width: 260px;
  min-width: 200px;
}

.tz-free-description-title-spacing {
  margin-bottom: 30px;

  @include xs {
    margin-top: 30px;
  }

  @include md {
    margin-top: 0px;
  }
}

/***************************************
  16_footer STYLE
***************************************/
.book-card {
  @include hover-shrink();
  background-color: $taaze-white-color;
}

/***************************************
  16_footer STYLE
***************************************/
.tz-footer-link {
  font-size: 12px;
  color: black;
  text-decoration: none;
}