.main-color {
  color: #FF057D;
}

.default-text-color {
  color: #535353;
}

@media only screen and (min-width: 768px) {
  .tz-container-padding {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .tz-free-description-text-spacing {
    margin-left: 30px;
  }
  .tz-free-description-image-dimensions {
    max-width: 440px;
    min-width: 440px;
    height: auto;
  }
  .tz-right-text-spacing {
    margin-left: 30px;
  }
  .tz-book-description-left-title-spacing {
    -ms-writing-mode: tb-rl;
        writing-mode: vertical-rl;
    text-orientation: mixed;
  }
  .tz-book-description-image-spacing {
    margin-left: 25px;
    margin-right: 30px;
  }
  .tz-four-book-card {
    transition: transform 0.2s;
    border-radius: 12px;
    background-color: white;
    margin: auto;
    max-width: 282px;
    height: 100%;
  }
  .tz-four-book-card:hover {
    transform: scale(0.95);
  }
  .tz-four-book-card-text {
    margin-top: 11px;
  }
  .tz-four-book-card-text > * {
    margin-bottom: 12px;
  }
  .tz-four-book-image-wrapper div {
    position: absolute;
    z-index: 1;
    background-color: #FF057D;
    color: white;
    height: 30px;
    width: 53px;
  }
}
@media only screen and (max-width: 768px) and (min-width: 576px) {
  .tz-container-padding {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 48px;
    padding-right: 48px;
  }
  .free-description-text-spacing {
    margin-left: 0px;
  }
  .tz-free-description-image-dimensions {
    min-width: 100%;
    max-width: 100%;
    height: auto;
  }
  .tz-right-text-spacing {
    margin-left: 30px;
  }
  .tz-book-description-left-title-spacing {
    -ms-writing-mode: tb-rl;
        writing-mode: vertical-rl;
    text-orientation: mixed;
  }
  .tz-book-description-image-spacing {
    margin-left: 25px;
    margin-right: 30px;
  }
  .tz-free-description-title-spacing {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .tz-four-book-card {
    transition: transform 0.2s;
    border-radius: 12px;
    background-color: white;
    margin: auto;
    max-width: 324px;
    height: 100%;
  }
  .tz-four-book-card:hover {
    transform: scale(0.95);
  }
  .tz-four-book-card-text {
    margin-top: 12px;
  }
  .tz-four-book-card-text > * {
    margin-bottom: 12px;
  }
  .tz-four-book-image-wrapper div {
    position: absolute;
    z-index: 1;
    background-color: #FF057D;
    color: white;
    height: 34px;
    width: 57px;
  }
}
@media only screen and (max-width: 576px) {
  .tz-container-padding {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 24px;
    padding-right: 24px;
  }
  .free-description-text-spacing {
    margin-left: 0px;
  }
  .tz-free-description-image-dimensions {
    min-width: 100%;
    max-width: 100%;
    height: auto;
  }
  .tz-right-text-spacing {
    margin-left: 0px;
  }
  .tz-book-description-image-spacing {
    margin-left: 0px;
    margin-right: 0px;
  }
  .tz-free-description-title-spacing {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .tz-four-book-card {
    transition: transform 0.2s;
    border-radius: 12px;
    background-color: white;
    margin: auto;
    max-width: 179px;
    height: 100%;
  }
  .tz-four-book-card:hover {
    transform: scale(0.95);
  }
  .tz-four-book-card-text {
    margin-top: 12px;
  }
  .tz-four-book-card-text > * {
    margin-bottom: 8px;
  }
  .tz-four-book-image-wrapper div {
    position: absolute;
    z-index: 1;
    background-color: #FF057D;
    color: white;
    width: 37px;
    height: 24px;
  }
}
.tz-footer-link {
  font-size: 12px;
  color: black;
  text-decoration: none;
}

.tz-free-description-title-spacing {
  margin-bottom: 30px;
}

.tz-book-description-image-dimensions {
  max-width: 260px;
  min-width: 200px;
}

.tz-four-book-image-wrapper {
  position: relative;
  padding: 12px;
}

.tz-four-book-image-wrapper > * {
  border-radius: 6px;
}/*# sourceMappingURL=style.css.map */